html
    head
        title= title

        if environment === "development"

        else if environment === "test"
            link(href="client/app/stylesBundle.css" rel="stylesheet" type="text/css")
    body

        if environment === "development"
            //Lav noget repeat her på clientScripts.json
            script(src="client/libraries/angular/angular.js")
            script(src="client/libraries/angular-route/angular-route.js")
            script(src="client/app/app.js")
            script(src="client/app/home/homeController.js")
            script(src="client/app/test/dummyController.js")
            script(src="client/app/login/signupController.js")
            script(src="client/app/services/testService.js")
        else if environment === "test"
            //script(src="../bundleLibraries.js")
            script(src="client/app/testBundle.js")



        div(ng-app="app" ng-strict-di="true")
            ng-view